.container {
  width: 80px;
  display: flex;
  justify-content: space-between
}

.container > label{
  font-family: 'Fira Code', monospace;
  margin-right: 10px;
}

.container > input {
  background-color: #618584;
  border: none;
  width: 60px;
  font-family: 'Fira Code', monospace;
}

.container > input:focus {
  outline: none;
}