.mainPage {
  display: flex;
}

.container {
  background-color: '#1a1a1a';
  z-index: 0;
}

.canvasContainer {
  border-radius: 2rem;
  background-color: #383F51;
  position: relative;
  z-index: 999;
  position: 'relative';
}

.backgroundCanvas {
  position: absolute;
  z-index: 1;
}