.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

@keyframes lightToDark {
  0%   { color: #f8edd6; }
  100% { color: #1a1a1a; }
}

@keyframes darkToLight {
  0%   { color: #1a1a1a; }
  100% { color: #f8edd6; }
}

.navbarAnchor {
  font-family: 'Lora', Serif;
  font-size: 1.75rem;
  color: #f8edd6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem; 
  animation: darkToLight .05s ease-out; 
}

.navbarAnchorDark {
  font-family: 'Lora', Serif;
  font-size: 1.75rem;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem; 
  animation: lightToDark .05s ease-out; 
}
