.textFieldContainer {
  display: flex;
  justify-content: space-between;
  width: 75px;
}

.textFieldInput {
  font-family: 'Fira Code', monospace;
  padding: 0;
  margin: 0;
  text-align: left;
  border: none;
  background-color: transparent;
  width: 50px;
}

.textFieldInput:focus {
  outline: none;
}