{% extends 'index.html' %}

{% block index %}
<!-- Main Page -->
<section class="canvas-page" style="background-color: #1a1a1a">
    <!-- Toolbar -->
    <div id="toolbar" class="toolbar">
        <!-- Main Toolbar -->
        <input id="toolbar__title" class="toolbar__title" type="text" spellCheck="false"/>
        <div id="toolbar__attributes__container"></div>
        <button id="toolbar-button" class="accordion">Dimensions</button>
        <div id="sec" class="panel">
            <div class="twoContainer">
                <div class="container">
                    <label style="color: #fff0ce" for="x">
                        X
                    </label>
                    <input 
                        style="color: #fff0ce"
                        type="text" 
                        name=x 
                        id="x"
                        value=""
                        spellCheck="false" 
                        autoComplete="off"
                    />
                </div>
            </div>
        </div>
    </div>

    <!-- Canvas -->
    <div id="canvas__container" class="canvas__container">
        <div id="canvas__wrapper" class="canvas__wrapper">
            <svg id="canvas" class="canvas" style="background-color: purple" xmlns="http://www.w3.org/2000/svg" >
            </svg>
        </div>
    </div>
</section>
{% endblock %}
