{% extends 'index.html' %}

{% block index %}
<section class="canvas-page" style="background-color: #1a1a1a">
    <div class="toolbar">
        <input
                class="testInput"
                type="text"
                value="Canvas"
                spellCheck="false"
            />
        <button id="toolbar-button" class="accordion">Description</button>
        <div id="sec" class="panel">
            <div class="twoContainer">
                <div class="container">
                    <label style="color: #fff0ce" for="x">
                        X
                    </label>
                    <input 
                        style="color: #fff0ce"
                        type="text" 
                        name=x 
                        id="x"
                        value=""
                        spellCheck="false" 
                        autoComplete="off"
                    />
                </div>
            </div>
        </div>
    </div>

</section>


<script>
    /* Section */
    let hidePanel = false;
    const button = document.querySelector("#toolbar-button");

    const handleClick = (event) => {
        const content = document.querySelector("#sec");
    
        if (hidePanel) {
            content.style.height = "0";
        } else {
            content.style.height = "50px";
        }
    
        hidePanel = !hidePanel;
    }

    button.addEventListener('click', handleClick);

    /* input */
    const handleChange = (value) => {
        if (value.match(/^[0-9]*\.?[0-9]*$/) != null) {
            setInputValue(value);
        };
    };

    const input = document.querySelector("#x");
    input.addEventListener('change', handleChange);
    
</script>
{% endblock %}
