.container {
  height: 100%;
  width: 100%;
  background-color: '#1a1a1a';
  z-index: 0;
}

.canvasContainer {
  border-radius: 2rem;
  position: relative;
  z-index: 999;
}

.canvas {
  border-radius: 2rem;
}