.container {
  background-color: '#1a1a1a';
  width: 1520px;
  height: 936px;
  z-index: 0;
}

.canvasContainer {
  border-radius: 2rem;
  background-color: #383F51;
  position: relative;
  z-index: 999;
  position: 'relative';
}

.backgroundCanvas {
  position: absolute;
  z-index: 1;
  
}

.canvas {
  border-radius: 2rem;
}
