

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.navbar > a {
  font-family: 'Lora', Serif;
  font-size: 1.75rem;
  color: #f8edd6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.landingPage {
  width: 100vw;
  height: 100vh;
  padding-top: 30vh;
}

.atomicDefinition__container {
  margin-left: 15vh;
  width: 1185px;
}

.atomicDefinition__main {
  font-family: 'Lora', Serif;
  font-style: bold;
  font-size: 8rem;
  color: #f8edd6;
  margin-right: 2rem
}

.atomicDefinition__pronunciation {
  font-family: 'Lora', Serif;
  font-style: italic;
  font-size: 2rem;
  color: #f8edd6;
  margin-right: 2rem;
}

.atomicDefinition__adjective {
  font-family: 'Lora', Serif;
  font-style: bold;
  font-size: 2rem;
  color: #f8edd6
}

.atomicDefinition__definition {
  font-family: 'Lora', Serif;
  font-size: 3rem;
  color: #f8edd6
}

.atomicDefinition__pronunciationWrapper {
  display: flex;
}


.about {
  width: 100vw;
  height: 160vh;
  background-color: #f8edd6;
  display: flex;
}

.aboutText {
  width: 50vw;
  height: 80vh;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutFigure {
  width: 50vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutFigureCanvas {
  width: 500px;
  height: 500px;
}

.aboutTextHeader {
  font-family: 'Lora', Serif;
  font-size: 2.5rem;
  text-align: center;
}

.aboutTextBody {
  font-family: 'Lora', Serif;
  font-size: 1.5rem;
}
